body {
  background-color: #120925;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.expense-tracker {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}

.expense-tracker h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.expense-tracker button {
  margin-top: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profile-photo {
  width: 100px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
}

.sign-out-button {
  margin-top: 20px;
  font-size: 17px;
  text-decoration: none;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: #ffffff;
  cursor: pointer;
}

.sign-out-button:hover {
  background: #357ae8;
  cursor: pointer;
}

.title-trans{
  text-align: center;
}

.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  max-height: 400px;
  overflow: auto;
  border: 3px solid #3498db;
  border-radius: 10px;
  background-color: #2a2a2a;
}