@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.expense-tracker {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.expense-tracker h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3498db;
}

.sign-out-button {
  height: auto;
  padding: 5px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.4s ease;
}
.header-container {
  display: flex;
  justify-content: space-between;
  row-gap: 10%;
  align-items: center;
  margin-bottom: 1rem;
}

.header-container text {
  font-size: 1.5rem;
  font-weight: 750;
  color: #2c3e50;
  text-align: center;
}

.sign-out-button:hover {
  background-color: #ebebeb;
}

.balance {
  text-align: center;
  margin-bottom: 0.5rem;
}

.balance h3 {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 0.5rem;
}

.balance h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin: 0;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.income,
.expenses {
  text-align: center;
}

.income h4,
.expenses h4 {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 0.5rem;
}

.income p,
.expenses p {
  font-size: 1.5rem;
  margin: 0;
}

.income p {
  color: green;
}

.expenses p {
  color: red;
}

.add-transaction {
  margin-bottom: 2rem;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-area input {
  padding: 0.5rem;
  border: 1px solid #bdc3c7;
  width: auto;
  border-radius: 4px;
  font-size: 1rem;
}

.radio-area {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.add-transaction button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-transaction button:hover {
  background-color: #2980b9;
}

.transactions {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-top: 2rem;
}

.transactions h2 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
  text-align: center;
}

.transactions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transactions li {
  border-bottom: 1px solid #ecf0f1;
  padding: 1rem 0;
}

.transactions li:last-child {
  border-bottom: none;
}

.transactions h4 {
  font-size: 1.1rem;
  color: #2c3e50;
  margin: 0 0 0.5rem 0;
}

.transactions p {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 0;
}

#transaction-type {
  padding: 0.25rem;
  font-size: 0.8rem;
  color: #ffffff;
}
